.App , .main {
  margin-left:30%;
  margin-top:3%;
}

.functionClass{
  text-align: center;
  color:rgb(27, 2, 93);
}

tr,td{
  border:1px solid black;
  border-width: 2px;
}

.heading{
  width:150px;
  font-size:20px;
  color:rgb(79, 5, 73);
}

.content{
  width:350px;
  font-size:18px;
  color:rgb(101, 29, 74);
}

.destruc{
  margin-left: 10%;
  color:rgb(5, 5, 103);
}

.arith{
  font-size:20px;
  color:rgb(79, 5, 73);
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  }
  
  .custColor{
    color:white
  }

  .custDrop,.show{
    right: 0 !important;
    left: 'auto' !important;
   }


.custCard{
    max-width: '300px';
    height: '100%';
  }

  .search{
    margin-top:3%;
    width:50%;
    margin-left: 2%;
  }

  .message{
    margin-left:45%;
    color:red;
  }

  .drop-down .Select-menu-outer {
    /* top: auto;
    bottom: 100%; */
    top: 100%;
    bottom: auto;
  }

  .drop{
    /* background: #539cde; */
    margin-right: 25px;
  }

  .custImg{
    padding:5%;
    height:100%;
    width: 100%;
  }
  .subTitle{
    color:blue;
  }

  .custHead{
    margin-top:5%;
    margin-bottom:5%;
    margin-left:25%;
    color:brown;
  }

  .custFooter{
    margin-top:155px;
    left:0;
    bottom:0;
    right:0;
    }

    .custCon{
      margin-bottom:-155px;
    }

    .custAbout{
      margin-bottom:-46px;
    }

    .custDiv{
      border:2px solid rgb(178, 178, 238);
      background:#d8e4f5;
    }

    .custButton{
      margin-left:40%;
      margin-bottom:3%;
      margin-top:1%;
      width:80%;
    }

    .custTable{
      --bs-table-striped-bg: #d8e4f5 !important;
    }

    .custCardFooter{
      border-top: 0px;
    }
       
